<!-- templates/notes/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sticky Notes{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1><a href="{% url 'note_list' %}">Sticky Notes</a></h1>
            <nav>
                <!-- Navigation links -->
                <a href="{% url 'note_list' %}">Home</a>|
                <a href="{% url 'note_create' %}" style="margin-left: 7px;">New Note</a>
            </nav>
        </header>
        <main>
            <!-- Content block to be overridden by child templates -->
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>&copy; 2025 Sticky Notes</p>
        </footer>
    </div>
</body>
</html>